name: Build Wasm component

on: 
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pull-requests: write
    
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22.x

      - name: Setup wash CLI
        uses: cosmonic-labs/setup-wash-action@main
        with:
          wash-version: 1.0.0-beta.6

      - name: Compile Wasm binary
        run: |
          wash build

      - name: Verify Wasm binary exists
        working-directory: ./dist
        run: |
          if [ ! -f ./component.wasm ]; then
            echo "Error: ./component.wasm not found!" >&2
            exit 1
          fi

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Wasm component to ghcr.io
        working-directory: ./dist
        run: |
          wash oci push ghcr.io/${GITHUB_REPOSITORY,,}:${{ github.ref_name }} ./component.wasm
